In [1]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime
import json

#Set Display options
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width' , 1000)

In [2]:
# Variables
season = "2020-21"

In [3]:
all_players = pd.read_csv (r'./data/' + season + '/Cleaned_data/all_players.csv', parse_dates= ["news_added"])
all_teams = pd.read_csv (r'./data/' + season + '/Cleaned_data/all_teams.csv')
all_events = pd.read_csv (r'./data/' + season + '/Cleaned_data/all_events.csv', parse_dates= ["deadline_time"])
player_types = pd.read_csv(r'./data/' + season + '/Cleaned_data/player_types.csv')
game_phases = pd.read_csv(r'./data/' + season + '/Cleaned_data/game_phases.csv')

player_season_history = pd.read_csv(r'./data/' + season + '/Cleaned_data/player_season_history.csv')
player_gameweek_history = pd.read_csv(r'./data/' + season + '/Cleaned_data/player_gameweek_history.csv' , parse_dates = ['kickoff_time'])
player_future_fixture = pd.read_csv(r'./data/' + season + '/Cleaned_data/player_future_fixture.csv', parse_dates = ["kickoff_time"])

In [4]:
all_teams.head()

   team_code  draw  team_form  team_id  loss    team_name  played  points  position team_short_name  team_strength  team_division  unavailable  win  strength_overall_home  strength_overall_away  strength_attack_home  strength_attack_away  strength_defence_home  strength_defence_away  pulse_id
0          3     0        NaN        1     0      Arsenal       0       0         0             ARS              4            NaN        False    0                   1240                   1250                  1160                  1210                   1190                   1230         1
1          7     0        NaN        2     0  Aston Villa       0       0         0             AVL              3            NaN        False    0                   1130                   1150                  1140                  1170                   1120                   1160         2
2         36     0        NaN        3     0     Brighton       0       0         0             BHA              3            NaN        False    0                   1100                   1120                  1110                  1130                   1100                   1120       131
3         90     0        NaN        4     0      Burnley       0       0         0             BUR              3            NaN        False    0                   1060                   1100                  1130                  1150                   1010                   1020        43
4          8     0        NaN        5     0      Chelsea       0       0         0             CHE              4            NaN        False    0                   1250                   1280                  1180                  1250                   1230                   1260         4

In [5]:
all_players.head()

   chance_of_playing_next_round  chance_of_playing_this_round  player_code  cost_change_event  cost_change_event_fall  cost_change_start  cost_change_start_fall  dreamteam_count  player_type_id  ep_next  ep_this  event_points  form  player_id  in_dreamteam                                               news                 news_added  now_cost      photo  PPG  selected_by_percent status  team_id  team_code  total_points  ...  red_cards  saves  bonus  bps influence  creativity  threat  ict_index  influence_rank  influence_rank_type  creativity_rank  creativity_rank_type  threat_rank  threat_rank_type  ict_index_rank  ict_index_rank_type  corners_and_indirect_freekicks_order  corners_and_indirect_freekicks_text  direct_freekicks_order  direct_freekicks_text  penalties_order  penalties_text      PP90      PPMM      VAPM
0                           0.0                           0.0        37605                  0                       0                 -2                       2                0               3      0.0      0.0             0   0.0          1         False  Not included in Arsenal's 25-man Premier Leagu... 2020-10-20 22:30:18.118477        68  37605.jpg  0.0                  0.7      n        1          3             0  ...          0      0      0    0       0.0         0.0     0.0        0.0             588                  237              587                   236          588               236             589                  237                                   NaN                                  NaN                     NaN                    NaN              NaN             NaN       NaN  0.000000 -0.294118
1                           0.0                           0.0        39476                  0                       0                 -1                       1                0               2      0.0      0.0             0   0.0          2         False  Not included in Arsenal's 25-man Premier Leagu... 2020-10-21 10:30:18.546407        49  39476.jpg  0.0                  0.1      n        1          3             0  ...          0      0      0    0       0.0         0.0     0.0        0.0             532                  204              523                   204          508               195             536                  204                                   NaN                                  NaN                     NaN                    NaN              NaN             NaN       NaN  0.000000 -0.408163
2                          50.0                          50.0        41270                  0                       0                  0                       0                0               2      0.8      0.6             0   1.2          3         False               Thigh injury - 50% chance of playing 2020-10-25 21:30:13.186040        55  41270.jpg  1.4                  1.0      d        1          3             7  ...          0      0      0   51      66.6         9.8    21.0        9.7             166                   65              283                    89          211                61             228                   77                                   NaN                                  NaN                     4.0                    NaN              NaN             NaN  1.974922  0.254545 -0.109091
3                         100.0                         100.0        54694                  0                       0                 -3                       3                0               3      2.0      1.5             0   1.5          4         False                                                NaN 2020-10-08 09:00:12.305506       117  54694.jpg  3.3                 13.8      a        1          3            20  ...          0      0      0   73      93.4       103.1   117.0       31.4             103                   38               41                    31           41                22              51                   28                                   NaN                                  NaN                     6.0                    NaN              1.0             NaN  3.333333  0.282051  0.111111
4                         100.0                         100.0        58822                  0                       0                 -3                       3                0               2      0.5      0.0             0   0.0          5         False                                                NaN 2020-09-23 09:00:14.881983        47  58822.jpg  0.0                  0.2      a        1          3             0  ...          0      0      0    0       0.0         0.0     0.0        0.0             509                  197              497                   197          474               186             513                  197                                   NaN                                  NaN                     NaN                    NaN              NaN             NaN       NaN  0.000000 -0.425532

[5 rows x 64 columns]

In [6]:
player_future_fixture.head()

   fixture_id  fixture_code  home_team_id  team_h_score  away_team_id  team_a_score  event  finished  minutes  provisional_start_time        kickoff_time   event_name  is_home  difficulty  player_id  opponent_team_id  team_id
0          64       2128351            13           NaN             1           NaN    7.0     False        0                   False 2020-11-01 16:30:00   Gameweek 7    False           4          1                13        1
1          69       2128356             1           NaN             2           NaN    8.0     False        0                   False 2020-11-08 19:15:00   Gameweek 8     True           3          1                 2        1
2          82       2128369            10           NaN             1           NaN    9.0     False        0                   False 2020-11-22 16:30:00   Gameweek 9    False           3          1                10        1
3          89       2128376             1           NaN            20           NaN   10.0     False        0                   False 2020-11-28 15:00:00  Gameweek 10     True           3          1                20        1
4         106       2128393            17           NaN             1           NaN   11.0     False        0                   False 2020-12-05 15:00:00  Gameweek 11    False           4          1                17        1

In [7]:
df_merge = all_teams[["team_code" , "team_strength" , "team_short_name" , "strength_overall_home" , "strength_overall_away"]]
all_players = all_players.merge(df_merge, on = 'team_code')

df_merge = player_types[['player_type_id' , 'position_name_short']]
all_players = all_players.merge(df_merge , on = "player_type_id")

In [8]:
all_players.head()

   chance_of_playing_next_round  chance_of_playing_this_round  player_code  cost_change_event  cost_change_event_fall  cost_change_start  cost_change_start_fall  dreamteam_count  player_type_id  ep_next  ep_this  event_points  form  player_id  in_dreamteam                                               news                 news_added  now_cost       photo  PPG  selected_by_percent status  team_id  team_code  total_points  ...  creativity  threat  ict_index  influence_rank influence_rank_type  creativity_rank  creativity_rank_type  threat_rank  threat_rank_type  ict_index_rank  ict_index_rank_type  corners_and_indirect_freekicks_order  corners_and_indirect_freekicks_text  direct_freekicks_order  direct_freekicks_text  penalties_order  penalties_text      PP90      PPMM      VAPM  team_strength  team_short_name  strength_overall_home  strength_overall_away  position_name_short
0                           0.0                           0.0        37605                  0                       0                 -2                       2                0               3      0.0      0.0             0   0.0          1         False  Not included in Arsenal's 25-man Premier Leagu... 2020-10-20 22:30:18.118477        68   37605.jpg  0.0                  0.7      n        1          3             0  ...         0.0     0.0        0.0             588                 237              587                   236          588               236             589                  237                                   NaN                                  NaN                     NaN                    NaN              NaN             NaN       NaN  0.000000 -0.294118              4              ARS                   1240                   1250                  MID
1                         100.0                         100.0        54694                  0                       0                 -3                       3                0               3      2.0      1.5             0   1.5          4         False                                                NaN 2020-10-08 09:00:12.305506       117   54694.jpg  3.3                 13.8      a        1          3            20  ...       103.1   117.0       31.4             103                  38               41                    31           41                22              51                   28                                   NaN                                  NaN                     6.0                    NaN              1.0             NaN  3.333333  0.282051  0.111111              4              ARS                   1240                   1250                  MID
2                           NaN                           NaN        84450                  0                       0                 -1                       1                0               3      1.5      1.0             0   1.0          9         False                                                NaN                        NaT        54   84450.jpg  1.7                  0.6      a        1          3            10  ...        33.8    29.0       11.4             204                  80              161                    98          184                97             197                   93                                   NaN                                  NaN                     2.0                    NaN              NaN             NaN  2.211302  0.314815 -0.055556              4              ARS                   1240                   1250                  MID
3                           NaN                           NaN       195735                  0                       0                 -3                       3                0               3      2.7      2.2             0   2.2         18         False                                                NaN                        NaT        77  195735.jpg  2.0                  0.9      a        1          3            12  ...        21.4    61.0       12.1             241                  96              212                   124           95                53             193                   92                                   2.0                                  NaN                     3.0                    NaN              2.0             NaN  5.346535  0.259740  0.000000              4              ARS                   1240                   1250                  MID
4                           0.0                           0.0       198849                  0                       0                 -3                       3                0               3      0.0      0.0             0   0.0         19         False  Joined Atletico Madrid on loan until the end o... 2020-10-05 22:30:19.674811        47  198849.jpg  0.0                  0.1      n        1          3             0  ...         0.0     0.0        0.0             511                 201              499                   201          477               191             515                  201                                   NaN                                  NaN                     NaN                    NaN              NaN             NaN       NaN  0.000000 -0.425532              4              ARS                   1240                   1250                  MID

[5 rows x 69 columns]

## Save to file

In [9]:
all_players.to_csv (r'./data/' + season + '/Merged_data/all_players_merged.csv', index = False, header=True)